html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.AppLight {
  text-align: center;
  /* background-color: white; */
  transition: .5s ease;

}

.AppDark {
  text-align: center;
  /* background-color: rgb(33, 37, 41); */
  color: lightgrey;
  /* opacity: 20%; */
  transition: .5s ease;

}

.AppLight h1, .AppDark h1 {
  margin-top: 100px;
}

.AppDark a {
  color: white
}

.AppLight a {
  color: seagreen
}

nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  /* padding: 0 20px 0 20px; */
  overflow: hidden;
  z-index: 100;
  transition: .5s ease;

}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
  background-color: lightgrey;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px black;
  text-decoration: none;
  color: darkslategrey;
  padding: 10px 0;
  position: fixed;
  bottom: 0%;
  text-align: center;
  z-index: 100;
  transition: .5s ease;

}

.footerDark {
  background-color: rgb(33, 37, 41);
  color: lightgrey;
  box-shadow: 0 0 10px lightgrey;
}

.navLight {
  background-color: whitesmoke;
  background-color: lightgrey;
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px black;
  /* position: fixed; */
}

.navDark {
  background-color: whitesmoke;
  background-color: rgb(33, 37, 41);
  /* color: darkslategrey; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  box-shadow: 0 0 10px grey;
  /* position: fixed; */
}

nav h1 {
  padding: 10px 0;
  /* font-size: 18px; */
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px
}

.navLight ul a,
.navLight a {
  text-decoration: none;
  color: black;
  /* font-size: 1.5rem; */
}

.navDark ul a,
.navDark a {
  text-decoration: none;
  color: lightgrey;
  /* font-size: 1.5rem; */
}

.navDark h1,
.navDark h4 {
  color: lightgrey
}

.content {
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
  gap: 50px;
}

.contentDark {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(33, 37, 41);
  color: lightgrey;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
  gap: 50px;
}

.contentDark p {
  color: lightgrey
}

.content h3,
.content h4 {
  font-weight: bold
}

.content a {
  color: seagreen;
}

.contentDark a,
.contentDark h3,
.contentDark h4 {
  color: lightgrey;
  font-weight: bold
}

.hide {
  display: none;
}

.mainDivLight a {
  color: seagreen;
}

.mainDivDark a {
  color: white;

}

.flex {
  display: flex;
}

table,
th,
td {
  border: 1px solid;
  padding: 10px;
  /* margin: auto */
}

.tableDark th {
  border: 1px solid white;
}

.regLog {
  border: 1px solid;
  padding: 10px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(33, 37, 41);
  color: lightgrey;
}

.darkText {
  color: darkslategrey
}

.idea {
  line-height: 2;
  /* border-radius: 10px; */
}

.tab {
  /* border: 2px solid black; */
  /* width: 100px; */
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicked {
  background-color: seagreen;
  color: white;
}

.MQHide {
  display: none
}

.popup {
  position: fixed;
  width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* top: 25%; */
  background-color: black;
  padding: 25px;
  border-radius: 40px;
}

.pizzaBox {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  padding: 20px;
}

/* Custom pagination colors */
.custom-pagination .page-link {
  color: seagreen;
  /* background-color: #00ff11;
  border-color: #04ff00; */
}

.custom-pagination .page-link:hover {
  color: #fff;
  background-color: #00904f7c;
  border-color: #000;
}

.custom-pagination .page-link:focus {
  color: #fff;
  background-color: seagreen;
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(38, 255, 49, 0.5);
}

.custom-pagination .page-item.active .page-link {
  color: #fff;
  background-color: seagreen;
  border-color: #000;
}

.custom-input:focus {
  border-color: #80ff8d;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 13, 0.25);
}

.landingPage {
  width: 300px;
  margin: 0 auto
}

.profilePicture {
  border-radius: 100%;
}

@media (width < 900px) {
  .MQHide {
    display: block
  }

  nav h1,
  nav h4,
  nav a,
  nav span {
    font-size: 1rem;
    /* color: red; */
  }
}

@media (width < 900px) {
  .ideaList {
    margin-left: 10%;
  }
}

@media (width > 900px) {
  .popup {
    width: 500px;
  }

  /* .content {
    width: 924px;
  }
  .contentDark {
    width: 924px;
  } */
  .landingPage {
    width: 924px;
    margin: 0 auto;
    gap: 50px;
  }
}

@media (width < 500px) {

  table,
  th,
  td {
    font-size: 14px;
    /* width: 100%; */
    /* padding: 10px; */
    /* margin: auto */
  }

  .tableDark th {
    font-size: 10px;
  }
}

.navLight .darkModeButton {
  transition: .5s ease;
}

.navDark .darkModeButton {
  transition: .5s ease;
}

body::before,
  body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .5s linear;
  }
  
  body::before {
    opacity: 1;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);
  }
  
  body.change::before {
    opacity: 0;
  }
  
  body::after {
    opacity: 0;
    background-image: linear-gradient( 68.4deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 99.8%);
  }
  
  body.change::after {
    opacity: 1;
  }